<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSockets</title>

    <style>
        .online {
            background-color: green;
            width: 100%;
            color: white;
        }
        .offline {
            background-color: red;
            width: 100%;
            color: white;
        }
    </style>
</head>
<body>
    <div id='network' class='online'>Online</div>
    <br><br>
    <textarea name="doc" id="doc" cols="30" rows="10"></textarea>
    <br>
    <script src='../public/javascripts/combined2.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.dom.js'></script>
</body>
</html>