<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collab</title>
</head>
<body>

  <form action="/" method="POST">
    <div>
      <label for="RoomId">Enter room id</label>
      <input type="text" name="roomId" id="idk">
      <input type="hidden" name="roomType" value="newRoom" id="idk">
    </div>
    <input type="submit" value="create new room">
  </form>

  <br><br><br>

  <form action="/" method="POST">
    <div>
      <label for="RoomId">Enter room id</label>
      <input type="text" name="roomId" id="idk">
      <input type="hidden" name="roomType" value="joinRoom" id="idk">
    </div>
    <input type="submit" value="Join existing Room">
  </form>

    <script src='../public/javascripts/index.js'></script>
</body>
</html>






